@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --defaultpadding: 3rem;
  --brown: #2b2922;
  --lightbrown: #a8a6a3;
  --light: #f1f0ef;
  --yellow: #a08e36;
  --yellow-brown: #39372d;
}

body {
  background-color: var(--brown);
}
/* ------- Navbar design --------- */
#header {
  color: var(--light);
}

nav {
  padding: 2rem var(--defaultpadding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.brand {
  flex-grow: 1;
}

.brand > img {
  height: 40px;
  filter: invert(100%);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  list-style: none;
  padding: 0 20px;
  color: var(--lightbrown);
  font-weight: 500;
  cursor: pointer;
}
.active {
  color: var(--light);
  font-weight: 600;
}

.nav-item:hover {
  color: var(--yellow);
}

.nav-btn {
  padding: 15px 30px;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid var(--yellow);
  color: var(--yellow);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: var(--yellow);
  color: var(--light);
  transition: 0.3s;
}
/* ---- content ---- */

.content {
  padding: 3rem var(--defaultpadding) 6rem;
  display: flex;
  align-items: center;
}

.heading > h1 {
  font-size: 70px;
  text-transform: capitalize;
  width: 80%;
}

.para {
  width: 50%;
}

.para > p {
  font-size: 19px;
  color: var(--lightbrown);
}

.justice {
  background: url(../images/justice.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}

/* ------- swipe ------- */
.swipe {
  display: flex;
  float: right;
}
.left {
  background-color: var(--yellow-brown);
  padding: 30px;
}

.right {
  padding: 30px;
  background-color: var(--yellow);
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 30px;
  width: 30px;
}

.left-circle {
  border: 1px solid var(--yellow);
}
.left-circle > i {
  color: var(--yellow);
}
.right-circle {
  border: 1px solid var(--light);
}

i {
  color: var(--light);
  font-size: 30px;
}
